@{
    ViewBag.Title = "Lupa Kata Laluan";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Lupa Kata Laluan
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="col-md-12">
                        <label>No Kad Pengenalan</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-md-12">
                        <label>Email/Email Alternatif <i>(yang didaftarkan)</i></label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-md-12 margin-tb-5">
                        <input type="button" class="btn btn-primary" value="Hantar" /><i style="padding-left: 5px;">Kata laluan akan diemelkan kepada anda. Selepas login anda perlu set semula kata laluan</i>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
