<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
      <section name="typeAliases" type="Spring.Context.Support.TypeAliasesSectionHandler, Spring.Core" />
    </sectionGroup>

    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="atm" connectionString="Data Source=KIEMIEUK\SQLEXPRESS2014;Initial Catalog=DBHRMISINTAKE;Integrated Security=true;MultipleActiveResultSets=True;" />-->
    <!--<add name="atmEntities" connectionString="metadata=res://*/AtmIntakeModel.csdl|res://*/AtmIntakeModel.ssdl|res://*/AtmIntakeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KIEMIEUK\SQLEXPRESS2014;initial catalog=DBHRMISINTAKE;Integrated Security=true;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    
    <add name="atm" connectionString="Data Source=SQL5016.Smarterasp.net;Initial Catalog=DB_996412_intake2;User Id=DB_996412_intake2_admin;Password=password;MultipleActiveResultSets=True;" />
    <add name="atmEntities" connectionString="metadata=res://*/AtmIntakeModel.csdl|res://*/AtmIntakeModel.ssdl|res://*/AtmIntakeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5016.Smarterasp.net;initial catalog=DB_996412_intake2;persist security info=True;user id=DB_996412_intake2_admin;password=password;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!--<add key="TemplateFolder" value="F:\Project\Work\8. ATM Intake\web\atm.web\Templates" />-->
    <add key="TemplateFolder" value="http://intake.sevenhit.com/Templates" />
    <add key="SuppDocFolder" value="http://localhost:2189/SuppDoc"/>
    <add key="Registration" value="Registration.html" />
    <add key="fromEmail" value="hakimin@sevenhit.com"/>
    <add key="server" value="http://localhost:2189"/>

  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <roleManager defaultProvider="SqlRoleProvider" enabled="true">
      <providers>
        <clear />
        <add name="SqlRoleProvider" type="SevenH.MMCSB.Atm.Entity.Persistance.SqlRoleProvider, atm.entity.persistance, Version=1.0.0.0, Culture=neutral" />
      </providers>
    </roleManager>
  </system.web>
  <spring>
    <context>
      <resource uri="~/Config/springContext.xml" />
    </context>
    <!--<context>
      <resource uri="config://spring/objects" />
    </context>
    <objects xmlns="http://www.springframework.net">
      <object id="ReferencePersistence" type="SevenH.MMCSB.Persistance.ReferencePersistence, atm.nhibernate.persistance" />
      <object id="ApplicantPersistence" type="SevenH.MMCSB.Persistance.ApplicantPersistence, atm.nhibernate.persistance" />
      <object id="AcquisitionPersistence" type="SevenH.MMCSB.Persistance.AcquisitionPersistence, atm.nhibernate.persistance" />
      <object id="LoginUserPersistance" type="SevenH.MMCSB.Persistance.LoginUserPersistance, atm.nhibernate.persistance" />
    </objects>-->
  </spring>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension="woff2" mimeType="application/font-woff2" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.net>
    <mailSettings>
      <smtp from="hakimin@sevenhit.com" deliveryMethod="Network">
        <network host="mail.sevenhit.com" port="8889" userName="hakimin@sevenhit.com" password="p@$$word" defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>