################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/bin/
**/obj/
/elasticsearch
/IIS Express
/rabbitmq_server
/schedulers
/subscribers.host
/packages
/sources/_generated
TestResults/
*.webtestresult
/tools/csproj.gen.exe.config
/tools/dead.letter.viewer.exe.config
/tools/mapping.compiler.exe.config
/tools/offline.generator.exe.config
/tools/sph.builder.exe.config
