@model SevenH.MMCSB.Atm.Web.Models.HomeViewModel
@{
    ViewBag.Title = "Laman Utama";
}
<div class="panel panel-primary">
    <div class="panel-heading">Pengumuman</div>
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-body">
                (TD)
                SESI PENGAMBILAN PERAJURIT MUDA LELAK DAN WANITA TENTERA DARAT
                Tentera Darat Malaysia (TDM) mempelawa Warganegara Malaysia yang berkelayakan dan memenuhi syarat untuk menghadiri sesi Pemilihan Awal Perajurit Muda Lelaki/Wanita TD. Calon-calon perlu memasukkan maklumat diri yang lengkap di dalam laman web ini. Sila daftar terlebih dahulu sebelum memasukkan maklumat peribadi. Calon perlu memilih Pengambilan 456/20015 di PERMOHONAN .Calon yang layak akan dipanggil untuk menghadiri sesi Pemilihan Akhir Perajurit Muda Lelaki/Wanita TD. Calon yang berjaya akan menjalani …. [more]
                [Pengambilan TD 212/2015.pdf ]
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                (TLDM)
                PENGAMBILAN LASKAR TLDM LELAKI DAN WANITA SIRI 212/2015
                TLDM akan memulakan sesi pengambilan Laskar Lelaki dan Wanita bermula 24 Feb 2015 hingga 25 Mac 2015. Sehubungan dengan itu warganegara Malaysia yang berkelayakan dijemput untuk menghadiri sesi pemilihan Awal. Calon-calon perlu memasukkan maklumat diri  yang lengkap di dalam laman web ini. Sila daftar terlebih dahulu sebelum memasukkan maklumat peribadi. Calon perlu memilih Pengambilan 212/20015 di PERMOHONAN …. [more]
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                (TUDM)
                PEMILIHAN AWAL PERAJURIT MUDA UDARA (LELAKI & WANITA) SIRI 53/15
                Peluang keemasan kepada beliamnegara untuk menyertai Tentera Udara Diraja Malaysia (TUDM) sebagai Lain-lain Pangkat (LLP). Pengambilan anggota lelaki dan wanita untuk mengisi kekosongan jawatan di dalam TUDM. …. [more]
            </div>
        </div>
    </div>
</div>