body {
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 20px; /**/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default
input,
select,
textarea {
    max-width: 280px;
} */

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.header {
    padding: 0px;
    margin: 0px 0px 5px 0px;
    line-height: 0px;
}

.form-control {
    padding: 2px 4px;
    font-size: 12px;
}

.main-left-page {
    padding: 0px;
}


.main-right-page {
    padding: 0px;
}

    .main-right-page > li > a {
        padding-top: 2px;
        padding-bottom: 2px;
    }

.padding-3 {
    padding: 3px;
}

.padding-top-3 {
    padding-top: 3px;
}

.margin-top-3 {
    margin-top: 3px;
}

.margin-tb-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.margin-tb-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

footer {
    font-size: 10px;
    text-align: center;
}

.blocks .btn-primary {
    padding: 5px 8px;
    -ms-border-radius: 0;
    border-radius: 0;
}

.blocks {
    border-spacing: 3px;
}

/* tab color */
.nav-tabs > li > a {
    background-color: #FCBE9F;
    border-color: #777777;
    color: #000000;
}

/* active tab color */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #888888;
}

/* hover tab color */
.nav-tabs > li > a:hover {
    border-color: #000000;
    background-color: #ffffff;
}

.btn-atm {
    color: #000000;
    background-color: #FF8D54;
    border-color: #000000;
    font-weight: bold;
}

.btn-atm.active {
    background-color: #FFC6AA;
    color: #ffffff;
    
}

.emptyspace {
    padding: 5px;
}

.form-readonly {
    border: none;
}

.tab-pane {
    padding-left: 15px;
    padding-right: 15px;
}

.nav-tabs {
    margin-bottom: 0;
}

.red {
    color: red;
}

/*
 * Table
 */
/* line 5, D:/projects/admin/sass/lib/_jquery.datatables.scss */
table.dataTable {
    margin: 0 auto;
    clear: both;
    width: 100%;
    background: rgba(51, 51, 51, 0.25);
}

/* line 12, D:/projects/admin/sass/lib/_jquery.datatables.scss */
table.dataTable thead th {
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
    *cursor: hand;
}
/* line 18, D:/projects/admin/sass/lib/_jquery.datatables.scss */
table.dataTable thead th.sorting_disabled {
    cursor: default;
    text-decoration: none;
}

/* line 24, D:/projects/admin/sass/lib/_jquery.datatables.scss */
table.dataTable tfoot th {
    font-weight: bold;
}

/* line 29, D:/projects/admin/sass/lib/_jquery.datatables.scss */
table.dataTable td.center,
table.dataTable td.dataTables_empty {
    text-align: center;
}


/*
 * Table wrapper
 */
/* line 37, D:/projects/admin/sass/lib/_jquery.datatables.scss */
.dataTables_wrapper {
    position: relative;
    clear: both;
    *zoom: 1;
}


/*
 * Page length menu
 */
/* line 47, D:/projects/admin/sass/lib/_jquery.datatables.scss */
.dataTables_length {
    float: left;
}

/*
 * Filter
 */
/* line 55, D:/projects/admin/sass/lib/_jquery.datatables.scss */
.dataTables_filter {
    float: right;
    text-align: right;
}

/*
 * Table information
 */
/* line 64, D:/projects/admin/sass/lib/_jquery.datatables.scss */
.dataTables_info {
    clear: both;
    float: left;
}

/*
 * Pagination
 */
/* line 73, D:/projects/admin/sass/lib/_jquery.datatables.scss */
.dataTables_paginate {
    float: right;
    text-align: right;
}

/* Two button pagination - previous / next */
/* line 82, D:/projects/admin/sass/lib/_jquery.datatables.scss */
.paginate_disabled_previous,
.paginate_enabled_previous,
.paginate_disabled_next,
.paginate_enabled_next {
    height: 19px;
    float: left;
    cursor: pointer;
    *cursor: hand;
    color: #111 !important;
}

/* line 92, D:/projects/admin/sass/lib/_jquery.datatables.scss */
.paginate_disabled_previous:hover,
.paginate_enabled_previous:hover,
.paginate_disabled_next:hover,
.paginate_enabled_next:hover {
    text-decoration: none !important;
}

/* line 98, D:/projects/admin/sass/lib/_jquery.datatables.scss */
.paginate_disabled_previous:active,
.paginate_enabled_previous:active,
.paginate_disabled_next:active,
.paginate_enabled_next:active {
    outline: none;
}

/* line 103, D:/projects/admin/sass/lib/_jquery.datatables.scss */
.paginate_disabled_previous,
.paginate_disabled_next {
    color: #666 !important;
}

/* line 107, D:/projects/admin/sass/lib/_jquery.datatables.scss */
.paginate_disabled_previous,
.paginate_enabled_previous {
    padding-left: 23px;
}

/* line 111, D:/projects/admin/sass/lib/_jquery.datatables.scss */
.paginate_disabled_next,
.paginate_enabled_next {
    padding-right: 23px;
    margin-left: 10px;
}

/* Full number pagination */
/* line 117, D:/projects/admin/sass/lib/_jquery.datatables.scss */
.paging_full_numbers {
    height: 22px;
    line-height: 22px;
}

/* line 121, D:/projects/admin/sass/lib/_jquery.datatables.scss */
.paging_full_numbers a:active {
    outline: none;
}

/* line 124, D:/projects/admin/sass/lib/_jquery.datatables.scss */
.paging_full_numbers a:hover {
    text-decoration: none;
}

/* line 129, D:/projects/admin/sass/lib/_jquery.datatables.scss */
.paging_full_numbers a.paginate_button,
.paging_full_numbers a.paginate_active {
    border: 1px solid #aaa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 2px 5px;
    margin: 0 3px;
    cursor: pointer;
    *cursor: hand;
    color: #333 !important;
}

/* line 141, D:/projects/admin/sass/lib/_jquery.datatables.scss */
.paging_full_numbers a.paginate_button {
    background-color: #ddd;
}

/* line 145, D:/projects/admin/sass/lib/_jquery.datatables.scss */
.paging_full_numbers a.paginate_button:hover {
    background-color: #ccc;
    text-decoration: none !important;
}

/* line 150, D:/projects/admin/sass/lib/_jquery.datatables.scss */
.paging_full_numbers a.paginate_active {
    background-color: #99B3FF;
}

/*
 * Processing indicator
 */
/* line 158, D:/projects/admin/sass/lib/_jquery.datatables.scss */
.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 30px;
    margin-left: -125px;
    margin-top: -15px;
    padding: 14px 0 2px 0;
    border: 1px solid #ddd;
    text-align: center;
    color: #999;
    font-size: 14px;
    background-color: white;
}

/*
 * Sorting
 */
/* line 180, D:/projects/admin/sass/lib/_jquery.datatables.scss */
table.dataTable thead th:active,
table.dataTable thead td:active {
    outline: none;
}

/*
 * Scrolling
 */
/* line 188, D:/projects/admin/sass/lib/_jquery.datatables.scss */
.dataTables_scroll {
    clear: both;
}

/* line 192, D:/projects/admin/sass/lib/_jquery.datatables.scss */
.dataTables_scrollBody {
    *margin-top: -1px;
    -webkit-overflow-scrolling: touch;
}
