<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .style11 {
            line-height: 100%;
            font-family: Verdana, serif;
            font-size: 12px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
        <table style="width: 100%;">
            <tr>
                <td colspan="3">
                    <p>
                        <strong><font face="Verdana, serif" size="2" style="font-size: 9pt"><em>Kata laluan sementara Jom Masuk Tentera : <%FullName%>.</em></font></strong>
                        <br /><br />
                        <font face="Verdana, serif" size="2" style="font-size: 9pt">Tarikh mohon kata laluan sementara : <%RegistrationDateTime%>.</font>
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <p>
                        <font face="Verdana, serif" size="2" style="font-size: 9pt"><%FullName%> ,</font>
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <p class="style11">Kata laluan anda telah dijana semula. Sila gunakan maklumat di bawah untuk log masuk dan mengemaskini maklumat tuan/puan.</p>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <table class="style11">
                        <tr>
                            <td>ID Pengguna</td>
                            <td>:</td>
                            <td><strong><%UserName%></strong></td>
                        </tr>
                        <tr>
                            <td>Kata Laluan Sementara</td>
                            <td>:</td>
                            <td><strong><%Password%></strong></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="3" class="style11">
                    Sila klik pada pautan <a href="<%LoginUrl%>">Log Masuk</a> untuk mengemaskini maklumat anda. 
                </td>
            </tr>
            <tr>
                <td colspan="3" class="style11">
                    <p>
                        <font face="Verdana, serif" size="2" style="font-size: 9pt">Terima Kasih</font>
                    </p>
                    <p>
                        <font face="Verdana, serif" size="2" style="font-size: 9pt"><br /><strong>ANGKATAN TENTERA MALAYSIA</strong><strong></strong></font>
                    </p>
                    <p>
                        <font face="Verdana, serif" size="2" style="font-size: 9pt">Emel ini dijana secara automatik. Tandatangan tidak diperlukan. Anda diminta tidak membalas emel ini.</font>
                    </p>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>
