@{
    ViewBag.Title = "Pengurusan Pengguna";
    Layout = "~/Views/Shared/_LayoutWithMenu.cshtml";
}


<div class="row">
    <div class="col-md-12"></div>
    <div class="tile">
        <h2 class="tile-title">Profil Pengguna Sistem JOM MASUK TENTERA</h2>
        <div class="p-10">
            <table class="table tile">
                <thead>
                    <tr>
                        <th>Bil.</th>
                        <th>Nama</th>
                        <th>Id Pengguna</th>
                        <th>Perkhidmatan</th>
                        <th>Status</th>
                        <th>Peranan</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <input type="button" value="Tambah"/>
        </div>
    </div>
</div>
