@{
    ViewBag.Title = "Tambah Anggota Atm";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="row">
    <div class="tile">
        <h2 class="tile-title">Tambah Anggota ATM</h2>
        <div class="p-10"></div>
    </div>
</div>
