@model SevenH.MMCSB.Atm.Web.Models.AdminViewModel
@{
    ViewBag.Title = "Panggilan Pemilihan Awal";
}

<div class="row">
    <div class="tile">
        <h2 class="tile-title">Panggilan Pemilihan Awal @string.Format("{0}/{1} {3}", Model.Acquisition.Siri, Model.Acquisition.Year, Model.Acquisition.AcquisitionType.AcquisitionTypeNm)</h2>
       
    </div>
</div>



