@model SevenH.MMCSB.Atm.Web.Models.AdminViewModel
@{
    ViewBag.Title = "Cetak Panggilan Pemilihan Awal";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}


<div class="row">
    <h4>Senarai Calon Tersenarai Pendek Bagi Pengambilan @string.Format("{0}/{1} {2}", Model.Acquisition.Siri, Model.Acquisition.Year, Model.Acquisition.AcquisitionType.AcquisitionTypeNm)</h4>

    <div class="col-md-3"></div>
    <div class="col-md-6">
        <table id="applicant_table" class="table table-bordered tile">
            <thead>
                <tr>
                    <th class="col-md-1">Bil</th>
                    <th>Nama</th>
                    <th class="col-md-4 text-center">No Kad Pengenalan</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var index = 0;
                    foreach (var app in Model.ListOfApplicant)
                    {
                        index = index + 1;
                        <tr>
                            <td>@index</td>
                            <td class="text-left">@app.FullName</td>
                            <td>@app.NewICNo</td>
                        </tr>
                    }
                }
            </tbody>
        </table></div>
    <div class="col-md-3"></div>
</div>