<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="atmEntities" connectionString="metadata=res://*/AtmIntakeModel.csdl|res://*/AtmIntakeModel.ssdl|res://*/AtmIntakeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KIEMIEUK\SQLEXPRESS2014;initial catalog=DBHRMISINTAKE;persist security info=True;integrated security=true;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>