@model SevenH.MMCSB.Atm.Domain.Advertisment
@{
    ViewBag.Title = "Iklan";
}




<div class="row">
    <div class="col-md-4">
        <div class="tile">
            <div class="tile-title">@Model.Title</div>
            <p>@Model.Description</p>
            <p>Tarikh Tutup : @string.Format("{0:dd MMM yyyy}", Model.EndDate)</p>
        </div>
    </div>
</div>