<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">

  <object
    id="siteRoot"
    type="System.Web.Hosting.HostingEnvironment, System.Web"
    factory-method="get_ApplicationPhysicalPath" />

  <object
    id="dataFile"
    type="System.IO.Path, mscorlib"
    factory-method="Combine">
    <constructor-arg name="path1" ref="siteRoot" />
    <constructor-arg name="path2" value="App_Data\data.db3" />
  </object>

  <object id="ReferencePersistence" type="SevenH.MMCSB.Persistance.ReferencePersistence, atm.nhibernate.persistance" />
  <object id="AdvertismentPersistance" type="SevenH.MMCSB.Persistance.AdvertismentPersistance, atm.nhibernate.persistance" />
  <object id="ApplicationPersistance" type="SevenH.MMCSB.Persistance.ApplicationPersistance, atm.nhibernate.persistance" />
  
  <!--Entity Framework Persistance-->
  <!--Membership and Roles-->
  <object id="RoleProvider" type="SevenH.MMCSB.Atm.Entity.Persistance.SqlRoleProvider, atm.entity.persistance" />
  <object id="LoginUserPersistance" type="SevenH.MMCSB.Atm.Entity.Persistance.LoginUserPersistance, atm.entity.persistance" />
  <object id="ApplicantSubmittedPersistence" type="SevenH.MMCSB.Atm.Entity.Persistance.ApplicantSubmittedPersistance, atm.entity.persistance" />
  <object id="AcquisitionPersistence" type="SevenH.MMCSB.Atm.Entity.Persistance.AcquisitionPersistence, atm.entity.persistance" />
  <object id="ApplicantPersistence" type="SevenH.MMCSB.Atm.Entity.Persistance.ApplicantPersistence, atm.entity.persistance" />
  
</objects>