
<div class="s-widget m-b-25">
    <h2 class="tile-title">
        Senarai Semak
    </h2>

    <div class="s-widget-body">
        <div class="side-border">
            <small>Peribadi</small>
            <div class="progress progress-small">
                <a href="#" data-toggle="tooltip" title="" class="progress-bar tooltips progress-bar-danger peribadi" >
                </a>
            </div>
        </div>
        <div class="side-border">
            <small>Keputusan Peperiksaan</small>
            <div class="progress progress-small">
                <a href="#" data-toggle="tooltip" title="" class="tooltips progress-bar progress-bar-info akademik" >
                </a>
            </div>
        </div>
        <div class="side-border pegawai">
            <small>Penajaan &amp; Biasiswa</small>
            <div class="progress progress-small">
                <a href="#" data-toggle="tooltip" title="" class="tooltips progress-bar progress-bar-sponsor sponsorship" >
                </a>
            </div>
        </div>
        <div class="side-border">
            <small>Sukan/Badan Beruniform/Kemahiran</small>
            <div class="progress progress-small">
                <a href="#" data-toggle="tooltip" title="" class="tooltips progress-bar progress-bar-warning sport" >
                </a>
            </div>
        </div>
        <div class="side-border">
            <small>Pengakuan</small>
            <div class="progress progress-small">
                <a href="#" data-toggle="tooltip" title="" class="tooltips progress-bar progress-bar-success pengakuan" >
                </a>
            </div>
        </div>
    </div>
</div>
