<div class="tile">
    <h2 class="tile-title">Pautan</h2>
    <div class="list-group block">
        <a class="list-group-item popup" href="http://www.mafhq.mil.my/">ATM</a>
        <a class="list-group-item popup" href="http://army.mod.gov.my/">TDM</a>
        <a class="list-group-item popup" href="http://www.navy.mil.my/">TLDM</a>
        <a class="list-group-item popup" href="http://www.airforce.gov.my/">TUDM</a>
        <a class="list-group-item popup" href="http://www.jointforce.mil.my/">MAB</a>
        <a class="list-group-item popup" href="http://www.stride.gov.my/v1/index.php/ms/">STRIDE</a>
        <a class="list-group-item popup" href="http://www.khidmatnegara.gov.my/">JLKN</a>
        <a class="list-group-item popup" href="http://www.jhev.gov.my/">JHEV</a>
        <a class="list-group-item popup" href="http://midas.mod.gov.my/">MiDAS</a>
        <a class="list-group-item popup" href="">HRMIS ATM</a>
    </div>
</div>
