@using SevenH.MMCSB.Atm.Domain
@{

    var user = HttpContext.Current.User;
}
<ol class="breadcrumb">
    @if (user.Identity.IsAuthenticated)
    {
        if (user.IsInRole(RolesString.AWAM))
        {
            <li class="hidden-print"><a class="hidden-print" href="@Url.Action("Application", "Public")">Permohonan</a></li>
            <li class="hidden-print"><a class="hidden-print" href="@Url.Action("Account", "Public")">Profil Saya</a></li>
        }

        <li class="hidden-print"><a class="hidden-print" href="@Url.Action("ChangePassword", "Account")">Tukar Kata Laluan</a></li>
        <li class="hidden-print"><a class="hidden-print logout" href="">Log Keluar</a></li>
    }
    else
    {
        <li class="hidden-print">
            <i class="icon ">&#61792;</i>
            <a class="hidden-print f14" href="@Url.Action("Login", "Account")">Log Masuk</a>
        </li>
    }
</ol>