<ol class="breadcrumb">
    @if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        <li class="hidden-print"><a class="hidden-print logout" href="@Url.Action("SignOut","Account")">Log Keluar</a></li>
    }
    else
    {
        <li class="hidden-print">
            <i class="icon ">&#61792;</i>
            <a class="hidden-print f14" href="@Url.Action("Login", "Account")">Log Masuk</a>
        </li>
    }
</ol>