

<div class="modal" id="message_dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">Mesej</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-cancel btn-sm" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="notification_dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">Mesej</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-submit btn-sm" data-dismiss="modal">OK</button>
                <button type="button" class="btn btn-cancel btn-sm" data-dismiss="modal">Batal</button>
            </div>
        </div>
    </div>
</div>
<div id="loading_dialog" class="modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <img src="@Url.Content("~/Images/ajax-loader.png")" alt="Sila tunggu..." />
                    <p>Sedang diproses...</p>
                </div>
            </div>
        </div>
    </div>
</div>