<div class="panel panel-primary">
    <div class="panel-heading">Pautan</div>
    <div class="panel-body main-right-page">
        <ul class="nav main-right-page">
            <li><a href="">ATM</a></li>
            <li><a href="">TDM</a></li>
            <li><a href="">TLDM</a></li>
            <li><a href="">TUDM</a></li>
            <li><a href="">MAB</a></li>
            <li><a href="">STRIDE</a></li>
            <li><a href="">JLKN</a></li>
            <li><a href="">JHEV</a></li>
            <li><a href="">MiDAS</a></li>
            <li><a href="">HRMIS ATM</a></li>
        </ul></div>
</div>
