

<footer>
    <div class="container-fluid p-t-10 p-b-10">

        [ Penafian ] : Markas Angkatan Tentera Malaysia tidak bertanggungjawab ke atas apa-apa kehilangan atau kerosakan disebabkan oleh penggunaan maklumat yang diambil dari sistem ini.
        <br />
        Paparan terbaik menggunakan pelayar Google Chrome dan Mozilla Firefox dengan resolusi 1280 * 720 ke atas.
        <br />
        Hak Cipta Terpelihara &copy; @DateTime.Now.Year - JOM MASUK TENTERA Angkatan Tentera Malaysia.
    </div>
</footer>
