
<div class="row">
    <div class="col-md-8">
        <form id="crime_form">
            <div class="panel panel-default tile">
                <div class="panel-heading">
                    <h4 class="panel-title"></h4>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label">
                            Pernahkah anda terlibat di dalam mana-mana kes jenayah ?
                        </label>
                        <div class="pull-right">
                            <label class="radio-inline">
                                <input type="radio" class="radio validate[required]" name="crime_involve[crime_involve]" value="Y" />Ya
                            </label>
                            <label class="radio-inline">
                                <input type="radio" class="radio validate[required]" name="crime_involve[crime_involve]" value="N" />Tidak
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            Pernahkah anda terlibat di dalam mana-mana kes dadah ?
                        </label>
                        <div class="pull-right">
                            <label class="radio-inline">
                                <input type="radio" class="radio validate[required]" name="crime_drug[crime_drug]" value="Y" />Ya
                            </label>
                            <label class="radio-inline">
                                <input type="radio" class="radio validate[required]" name="crime_drug[crime_drug]" value="N" />Tidak
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            Pernahkah anda mengalami sebarang penyakit yang boleh memudaratkan tugas ?
                        </label>
                        <div class="pull-right">
                            <label class="radio-inline">
                                <input type="radio" class="radio validate[required]" name="cronic_illness[cronic_illness]" value="Y" />Ya
                            </label>
                            <label class="radio-inline">
                                <input type="radio" class="radio validate[required]" name="cronic_illness[cronic_illness]" value="N" />Tidak
                            </label>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="button" class="btn btn-primary btn-sm" data-bind="click: savescrime">
                        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Simpan
                    </button>
                    <button type="button" class="btn btn-primary btn-sm" data-bind="click: savescrimeandcontinue">
                        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Simpan &amp; Teruskan
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
