
<div class="panel panel-default tile">
    <div class="panel-heading">
        <h3 class="panel-title"></h3>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label class="control-label">Status Perkahwinan<span class="red">*</span></label>
            <select class="form-control input-sm validate[required]" id="maritalstatus" data-bind="options: maritalstatues, optionsText: 'Name', optionsValue: 'Code', optionsCaption: 'SILA PILIH', valueAllowUnset: true, value: applicant.MrtlStatusCd"></select>
        </div>
        <div class="form-group">
            <label for="nationality" class="control-label">Kerakyatan<span class="red">*</span></label>
            <select class="form-control input-sm" id="nationality" data-bind="options: countries, optionsText: 'Name', optionsValue: 'Code', optionsCaption: 'SILA PILIH', valueAllowUnset: true, value: applicant.NationalityCd"></select>
        </div>
        <div class="form-group">
            <label for="nationalitycertno" class="control-label">No Sijil Kerakyatan</label>
            <input type="text" class="form-control input-sm" id="nationalitycertno" data-bind="value: applicant.NationalityCertNo, valueUpdate: 'afterkeydown'">
        </div>
        <div class="form-group">
            <label for="birthcertno" class="control-label">No Daftar Sijil Kelahiran</label>
            <input type="text" class="form-control input-sm" id="birthcertno" data-bind="value: applicant.BirthCertNo, valueUpdate: 'afterkeydown'">
        </div>
        <div class="form-group">
            <label for="birthcountry" class="control-label">Negara Kelahiran<span class="red">*</span></label>
            <select class="form-control input-sm" id="birthcountry" data-bind="options: countries, optionsText: 'Name', optionsValue: 'Code', optionsCaption: 'SILA PILIH', valueAllowUnset: true, value: applicant.BirthCountryCd"></select>
        </div>
        <div class="form-group" data-bind="visible: applicant.BirthCountryCd() === 'MYS'">
            <label for="birthstate" class="control-label">Negeri Kelahiran</label>
            <select class="form-control input-sm" id="birthstate" data-bind="options: birthstates, optionsText: 'Name', optionsValue: 'Code', optionsCaption: 'SILA PILIH', valueAllowUnset: true, value: applicant.BirthStateCd"></select>
        </div>
        <div class="form-group" data-bind="visible: applicant.BirthCountryCd() === 'MYS'">
            <label for="birthcity" class="control-label">Bandar Kelahiran</label>
            <select class="form-control input-sm" id="birthcity" data-bind="options: birthcities, optionsText: 'Name', optionsValue: 'Code', optionsCaption: 'SILA PILIH', valueAllowUnset: true, value: applicant.BirthCityCd"></select>
        </div>
        <div class="form-group">
            <label for="placeofbirth" class="control-label">Tempat Kelahiran</label>
            <input type="text" class="form-control input-sm" id="placeofbirth" data-bind="value: applicant.BirthPlace, valueUpdate: 'afterkeydown'">
        </div>
    </div>
</div>

