<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
      <section name="typeAliases" type="Spring.Context.Support.TypeAliasesSectionHandler, Spring.Core"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Bespoke.Sph.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="resizer" type="ImageResizer.ResizerSection" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="Sph" connectionString="Data Source=(localdb)\Projects;Initial Catalog=DevV1;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="sph:BaseUrl" value="http://localhost:4436"/>
    <add key="sph:BaseDirectory" value="c:\project\work\sph"/>
    <add key="sph:EnableOfflineForm" value="true"/>
    <add key="sph:ApplicationName" value="DevV1"/>
    <add key="sph:ApplicationFullName" value="SPH Platform Showcase"/>
    <add key="sph:EnableWorkflowGetCacheDependency" value="false"/>
    <add key="sph:AceTheme" value="monokai"/>
    <add key="sph:AceFontSize" value="18"/>
    <add key="owin:AutomaticAppStartup" value="true"/>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="theme" value="matyie"/>
    <add key="jpg.max.width" value="750"/>
    <add key="RuleFields" value="Constant,Document,Function,PropertyChanged,Assembly,JavascriptExpression"/>
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000"/>
    <add key="Microsoft.VisualStudio.Enterprise.AspNetHelper.VsInstrLocation" value="D:\Program Files (x86)\Microsoft Visual Studio 14.0\Team Tools\Performance Tools\vsinstr.exe"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="home.index" duration="60" varyByParam="none"/>
          <add name="Long" duration="60" varyByParam="none"/>
          <add name="Medium" duration="60" varyByParam="none"/>
          <add name="Short" duration="10" varyByParam="none"/>
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <httpRuntime targetFramework="4.6"/>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.6"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Sph/SphAccount/Login" timeout="2880" name=".rx-developer.dev"/>
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <roleManager enabled="true" cacheRolesInCookie="true" defaultProvider="SphRoleProvider">
      <providers>
        <clear/>
        <add applicationName="sph" connectionStringName="sph" name="SphRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </providers>
    </roleManager>
    <membership defaultProvider="AspNetSqlMembershipProvider">
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" connectionStringName="sph" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Hashed" minRequiredNonalphanumericCharacters="0" minRequiredPasswordLength="4" applicationName="sph"/>
      </providers>
    </membership>
    <httpModules>
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule"/>
    </modules>
    <rewrite>
      <rules>
        <rule name="sphapp.main.js">
          <match url="sphapp/main.js"/>
          <action type="Rewrite" url="requirejs-bundle/main"/>
        </rule>
        <rule name="sphapp.header.html">
          <match url="sphapp/views/header.html"/>
          <action type="Rewrite" url="app/header/html"/>
        </rule>
        <rule name="resource.css.html">
          <match url="content/release.css" ignoreCase="true"/>
          <action type="Rewrite" url="resource-bundle/css"/>
        </rule>
        <rule name="sphapp.chart.js">
          <match url="sphapp/chart.js"/>
          <action type="Rewrite" url="sphapp/services/chart.js"/>
        </rule>
        <!-- ace editor -->
        <rule name="ace.snippet-dialog">
          <match url="app/views/snippets.dialog.html"/>
          <action type="Rewrite" url="sphapp/views/snippets.dialog.html"/>
        </rule>
        <rule name="ace.snippet-dialog.js">
          <match url="app/views/snippets.dialog.js"/>
          <action type="Rewrite" url="sphapp/views/snippets.dialog.js"/>
        </rule>
        <rule name="ace.ace.goto.line">
          <match url="app/views/ace.goto.line.html"/>
          <action type="Rewrite" url="sphapp/views/ace.goto.line.html"/>
        </rule>
        <rule name="ace.ace.goto.line.js">
          <match url="app/views/ace.goto.line.js"/>
          <action type="Rewrite" url="sphapp/views/ace.goto.line.js"/>
        </rule>
        <rule name="ace.mode-csharp">
          <match url="mode-csharp.js"/>
          <action type="Rewrite" url="scripts/ace/mode-csharp.js"/>
        </rule>
        <rule name="ace.theme-twilight.js">
          <match url="theme-twilight.js"/>
          <action type="Rewrite" url="scripts/ace/theme-twilight.js"/>
        </rule>
        <rule name="ace.theme-textmate.js">
          <match url="theme-textmate.js"/>
          <action type="Rewrite" url="scripts/ace/theme-textmate.js"/>
        </rule>
        <rule name="ace.theme- monokai.js">
          <match url="theme- monokai.js"/>
          <action type="Rewrite" url="scripts/ace/theme-monokai.js"/>
        </rule>
        <rule name="ace.theme-crimson_editor.js">
          <match url="theme-crimson_editor.js"/>
          <action type="Rewrite" url="scripts/ace/theme-crimson_editor.js"/>
        </rule>
        <rule name="durandal.knockout.js">
          <match url="(Scripts|SphApp)/durandal/knockout.js"/>
          <action type="Rewrite" url="resources/scripts/knockout-3.2.0.js"/>
        </rule>
        <rule name="durandal.system.js">
          <match url="(Scripts|SphApp)/durandal/system.js"/>
          <action type="Rewrite" url="resources/scripts/durandal/system.js"/>
        </rule>
        <!-- workflows -->
        <rule name="screen.editor.js">
          <match url="SphApp/viewmodels/screen.editor.js"/>
          <action type="Rewrite" url="App/ActivityScreen/Js"/>
        </rule>
        <rule name="screen.editor.html">
          <match url="SphApp/views/screen.editor.html"/>
          <action type="Rewrite" url="/App/ScreenEditor/Html"/>
        </rule>
        <rule name="activity.screen.js">
          <match url="SphApp/viewmodels/activity.screen.js"/>
          <action type="Rewrite" url="App/ActivityScreen/Js"/>
        </rule>
        <rule name="activity.screen.html">
          <match url="SphApp/views/activity.screen.html"/>
          <action type="Rewrite" url="/App/ActivityScreen/Html"/>
        </rule>
        <!-- embedded designers-->
        <rule name="functoid.dialog.js">
          <match url="SphApp/viewmodels/functoid\.(.*?).js"/>
          <action type="Rewrite" url="/transform-definition/functoid/js/{R:1}"/>
        </rule>
        <rule name="functoid.dialog.html">
          <match url="SphApp/views/functoid\.(.*?).html"/>
          <action type="Rewrite" url="/transform-definition/functoid/html/{R:1}"/>
        </rule>
        <rule name="action.dialog.js">
          <match url="SphApp/viewmodels/action\.(.*?).js"/>
          <action type="Rewrite" url="/sph/trigger/action/js?type={R:1}"/>
        </rule>
        <rule name="action.dialog.html">
          <match url="SphApp/views/action\.(.*?).html"/>
          <action type="Rewrite" url="/sph/trigger/action/html?type={R:1}"/>
        </rule>
        <rule name="adapter.route.js">
          <match url="SphApp/viewmodels/adapter\.(.*?).js"/>
          <action type="Rewrite" url="/adapter/designer/js/{R:1}"/>
        </rule>
        <rule name="adapter.route.html">
          <match url="SphApp/views/adapter\.(.*?).html"/>
          <action type="Rewrite" url="/adapter/designer/html/{R:1}"/>
        </rule>
        <rule name="adapter.resource">
          <match url="SphApp/adapter.resource/(.*?)/(.*?)"/>
          <action type="Rewrite" url="/{R:1}/resource/{R:1}"/>
        </rule>
        <rule name="activity.route.editor">
          <match url="SphApp/(viewmodels|views)/activity\.(.*?)\.(js|html)" ignoreCase="true"/>
          <action type="Rewrite" url="/wf-designer/editor/{R:2}.{R:3}"/>
        </rule>
        <!-- end of embedded designers -->
        <!-- report exec 
        http://localhost:4436/SphApp/viewmodels/reportdefinition.execute-id.patient-sample-report-for-all-patients.js 
        -->
        <rule name="rdl.js">
          <match ignoreCase="true" url="sphapp/viewmodels/reportdefinition\.execute-id\.(.*)\.js"/>
          <action type="Rewrite" url="app/ReportDefinitionExecute/Js/{R:1}"/>
        </rule>
        <rule name="rdl.html">
          <match ignoreCase="true" url="sphApp/views/reportdefinition\.execute-id\.(.*)\.html"/>
          <action type="Rewrite" url="app/ReportDefinitionExecute/Html/{R:1}"/>
        </rule>
        <rule name="business.rule.dialog.html">
          <match ignoreCase="true" url="sphApp/views/business.rule.dialog.html"/>
          <action type="Rewrite" url="sph/EntityDefinition/BusinessRuleDialog"/>
        </rule>
        <rule name="entitydefinition-schema">
          <match ignoreCase="true" url="sph/entitydefinition/schemas"/>
          <action type="Rewrite" url="entity-definition/schema"/>
        </rule>
        <!-- resources in core.sph   -->
        <rule name="sphapp.config.js">
          <match ignoreCase="true" url="sphapp/services/config.js"/>
          <action type="Rewrite" url="app/config/js"/>
        </rule>
        <rule name="core.sph.scripts">
          <match ignoreCase="true" url="(scripts|content|images|sphapp|fonts)/([A-Z0-9_.-]+).(css|png|gif|js|map|woff|eot|html|ttf|svg)"/>
          <action type="Rewrite" url="resources/{R:1}/{R:2}.{R:3}"/>
        </rule>
        <rule name="core.sph.scripts.sub">
          <match ignoreCase="true" url="(scripts|kendo|content|images|sphapp|fonts)/([A-Z0-9_.]+)/([A-Z0-9_.-]+).(css|png|gif|js|map|woff|eot|html|ttf|svg)"/>
          <action type="Rewrite" url="resources/{R:1}/{R:2}.{R:3}.{R:4}"/>
        </rule>
        <rule name="core.sph.scripts.sub2">
          <match ignoreCase="true" url="(scripts|kendo|content|images|sphapp|fonts)/([A-Z]+)/([A-Z]+)/([A-Z0-9_.]+).(css|png|gif|js|map|woff|eot|html|ttf|svg)"/>
          <action type="Rewrite" url="resources/{R:1}/{R:2}.{R:3}.{R:4}.{R:5}"/>
        </rule>
        <!-- custom entities-->
        <rule name="entity.search">
          <match ignoreCase="true" url="search/(Appointment|Customer|District|Patient|State)/"/>
          <action type="Rewrite" url="{R:1}/search"/>
        </rule>
        <rule name="entity.api">
          <match ignoreCase="true" url="api/(Appointment|Customer|District|Patient|State)/"/>
          <action type="Rewrite" url="api/index/{R:1}"/>
        </rule>
        <rule name="entity.print">
          <match ignoreCase="true" url="sph/print/([A-Z0-9_]+)/([0-9]+)"/>
          <action type="Rewrite" url="sph/print/?entity={R:1}&amp;id={R:2}"/>
        </rule>
      </rules>
    </rewrite>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="EB42632606E9261F" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246"/>
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246"/>
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.3.1.0" newVersion="2.3.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.6.2.0" newVersion="5.6.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.OData" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.3.4.13329" newVersion="4.3.4.13329"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RabbitMq.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.4.0.0" newVersion="3.4.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Enterprise.AspNetHelper" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <codeBase version="14.0.0.0" href="file:///D:/Program%20Files%20(x86)/Microsoft%20Visual%20Studio%2014.0/Common7/IDE/PrivateAssemblies/Microsoft.VisualStudio.Enterprise.AspNetHelper.DLL"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.1.32.0" newVersion="1.1.32.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.17.0" newVersion="1.0.17.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <spring>
    <context>
      <resource uri="config://spring/objects"/>
    </context>
    <typeAliases>
      <alias name="Adapter" type="Bespoke.Sph.Domain.Api.Adapter, domain.sph"/>
      <alias name="AuditTrail" type="Bespoke.Sph.Domain.AuditTrail, domain.sph"/>
      <alias name="Designation" type="Bespoke.Sph.Domain.Designation, domain.sph"/>
      <alias name="DocumentTemplate" type="Bespoke.Sph.Domain.DocumentTemplate, domain.sph"/>
      <alias name="EmailTemplate" type="Bespoke.Sph.Domain.EmailTemplate, domain.sph"/>
      <alias name="Designation" type="Bespoke.Sph.Domain.Designation, domain.sph"/>
      <alias name="EntityChart" type="Bespoke.Sph.Domain.EntityChart, domain.sph"/>
      <alias name="EntityDefinition" type="Bespoke.Sph.Domain.EntityDefinition, domain.sph"/>
      <alias name="EntityForm" type="Bespoke.Sph.Domain.EntityForm, domain.sph"/>
      <alias name="EntityView" type="Bespoke.Sph.Domain.EntityView, domain.sph"/>
      <alias name="Message" type="Bespoke.Sph.Domain.Message, domain.sph"/>
      <alias name="Page" type="Bespoke.Sph.Domain.Page, domain.sph"/>
      <alias name="ReportDefinition" type="Bespoke.Sph.Domain.ReportDefinition, domain.sph"/>
      <alias name="ReportDelivery" type="Bespoke.Sph.Domain.ReportDelivery, domain.sph"/>
      <alias name="SearchDefinition" type="Bespoke.Sph.Domain.SearchDefinition, domain.sph"/>
      <alias name="SpatialStore" type="Bespoke.Sph.Domain.SpatialStore, domain.sph"/>
      <alias name="Setting" type="Bespoke.Sph.Domain.Setting, domain.sph"/>
      <alias name="Tracker" type="Bespoke.Sph.Domain.Tracker, domain.sph"/>
      <alias name="TransformDefinition" type="Bespoke.Sph.Domain.TransformDefinition, domain.sph"/>
      <alias name="Trigger" type="Bespoke.Sph.Domain.Trigger, domain.sph"/>
      <alias name="UserProfile" type="Bespoke.Sph.Domain.UserProfile, domain.sph"/>
      <alias name="Watcher" type="Bespoke.Sph.Domain.Watcher, domain.sph"/>
      <alias name="WorkflowDefinition" type="Bespoke.Sph.Domain.WorkflowDefinition, domain.sph"/>
      <alias name="Workflow" type="Bespoke.Sph.Domain.Workflow, domain.sph"/>
    </typeAliases>
    <objects xmlns="http://www.springframework.net">
      <object name="ILogger" type="Bespoke.Sph.Domain.Logger, domain.sph">
        <property name="Loggers">
          <list element-type="Bespoke.Sph.Domain.ILogger, domain.sph">
            <object type="Bespoke.Sph.ElasticSearchLogger.Logger, elasticsearch.logger"/>
            <object type="Bespoke.Sph.RayGunLoggers.Logger, raygun.logger"/>
            <object type="web.console.logger.Logger, web.console.logger"/>
          </list>
        </property>
      </object>
      <object name="IPersistence" type="Bespoke.Sph.SqlRepository.SqlPersistence, sql.repository">
        <constructor-arg name="connectionString" value="Data Source=(localdb)\Projects;Initial Catalog=DevV1;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;Application Name=sph.cs.web"/>
      </object>
      <object name="IBrokerConnection" type="Bespoke.Sph.RabbitMqPublisher.DefaultBrokerConnection, rabbitmq.changepublisher">
        <property name="Port" value="5672"/>
        <property name="ManagementPort" value="15672"/>
        <property name="Password" value="guest"/>
        <property name="UserName" value="guest"/>
        <property name="Host" value="localhost"/>
        <property name="VirtualHost" value="DevV1"/>
      </object>
      <object name="IEntityChangePublisher" type="Bespoke.Sph.RabbitMqPublisher.ChangePublisherClient,rabbitmq.changepublisher">
        <constructor-arg name="connectionInfo" ref="IBrokerConnection"/>
      </object>
      <object name="IEntityChangedListener&lt;Message&gt;" type="Bespoke.Sph.RabbitMqPublisher.EntityChangedListener&lt;Message&gt;,rabbitmq.changepublisher">
        <constructor-arg name="connection" ref="IBrokerConnection"/>
      </object>
      <object name="IEntityChangedListener&lt;AuditTrail&gt;" type="Bespoke.Sph.RabbitMqPublisher.EntityChangedListener&lt;AuditTrail&gt;,rabbitmq.changepublisher">
        <constructor-arg name="connection" ref="IBrokerConnection"/>
      </object>
      <object name="IEntityChangedListener&lt;Page&gt;" type="Bespoke.Sph.RabbitMqPublisher.EntityChangedListener&lt;Page&gt;,rabbitmq.changepublisher">
        <constructor-arg name="connection" ref="IBrokerConnection"/>
      </object>
      <object name="IDocumentGenerator" type="Bespoke.Sph.WordGenerator.WordGenerator, word.document.generator">
        <property name="DefaultNamespace" value="Bespoke.Sph.Domain"/>
      </object>
      <object name="ITemplateEngine" type="Bespoke.Sph.Templating.RazorEngine, razor.template"/>
      <object name="IScriptEngine" type="Bespoke.Sph.RoslynScriptEngines.RoslynScriptEngine , roslyn.scriptengine"/>
      <object name="ITaskScheduler" type="Bespoke.Sph.WindowsTaskScheduler.TaskScheduler , windows.taskschedulers">
        <constructor-arg name="executable" value="C:\project\work\sph\source\scheduler\scheduler.delayactivity\bin\Debug\scheduler.delayactivity.exe"/>
      </object>
      <object name="IBinaryStore" type="Bespoke.Sph.SqlRepository.SqlBinaryStore, sql.repository"/>
      <object name="ISpatialService&lt;SpatialStore&gt;" type="Bespoke.Sph.SqlRepository.SqlSpatial&lt;SpatialStore&gt;, sql.repository"/>
      <object name="IReportDataSource" type="Bespoke.Sph.SqlReportDataSource.SqlDataSource, report.sqldatasource"/>
      <object name="IRepository&lt;AuditTrail&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;AuditTrail&gt;, sql.repository"/>
      <object name="IRepository&lt;Message&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;Message&gt;, sql.repository"/>
      <object name="IRepository&lt;ReportDelivery&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;ReportDelivery&gt;, sql.repository"/>
      <object name="IRepository&lt;SpatialStore&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;SpatialStore&gt;, sql.repository"/>
      <object name="IRepository&lt;Setting&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;Setting&gt;, sql.repository"/>
      <object name="IRepository&lt;Tracker&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;Tracker&gt;, sql.repository"/>
      <object name="IRepository&lt;UserProfile&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;UserProfile&gt;, sql.repository"/>
      <object name="IRepository&lt;Watcher&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;Watcher&gt;, sql.repository"/>
      <object name="IRepository&lt;Workflow&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;Workflow&gt;, sql.repository"/>
      <object name="QueryProvider" type="Bespoke.Sph.SqlRepository.SqlQueryProvider, sql.repository"/>
      <object name="IPagingTranslator" type="Bespoke.Sph.SqlRepository.Sql2008PagingTranslator, sql.repository"/>
      <object name="ISqlServerMetadata" type="Bespoke.Sph.SqlRepository.SqlServer2012Metadata, sql.repository"/>
      <object name="IDirectoryService" type="Bespoke.Sph.DirectoryServices.AspNetDirectoryService, sqlmembership.directoryservices"/>
      <object name="INotificationService" type="Bespoke.Sph.EmailServiceNotification.EmailService, email.service"/>
      <object name="IPagingTranslator2" type="Bespoke.Sph.Web.Api.Sql2008PagingTranslator, core.sph"/>
    </objects>
  </spring>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="c:\temp\sphEmail"/>
      </smtp>
    </mailSettings>
  </system.net>
  <applicationSettings>
    <Bespoke.Sph.Web.Properties.Settings>
      <setting name="theme" serializeAs="String">
        <value>matyie</value>
      </setting>
    </Bespoke.Sph.Web.Properties.Settings>
  </applicationSettings>
  <resizer>
    <plugins>
      <add name="MvcRoutingShim"/>
    </plugins>
  </resizer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/langversion:5 /nowarn:1659;1699;1701">
          <providerOption name="CompilerVersion" value="v4.0"/>
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>